
.info {
  padding: 1.25rem 0 .625rem;
}

.info__name {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: .625rem;
  text-transform: uppercase;
}

.info__value {
  font-size: 1rem;
  font-weight: 500;
}