
.skill {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: red;
  border-radius: 3.125rem;
  background-color: var(--color-grey);
  font-weight: 300;
}

@media screen and (max-width: 36rem) {
  .skill {
    padding: 0.5rem 1rem;
  }
}