
.asset {
	background-color: var(--color-secondary);
	box-shadow: .125rem .25rem 1rem .125rem var(--color-quaternary);
	padding: 1.5rem;
	margin-bottom: 2rem;
}

.asset__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.asset__name {
	display: flex;
	align-items: center;
	font-size: 1.375rem;
}

.asset__number {
	font-size: 16px;
	margin-left: 4px;
	display: inline-block;
}

.asset__list {
	width: 100%;
	height: 100%;
}

.asset__list--expand {
	width: 100%;
	height: 100%;
}

.asset__list--collapse {
	width: 0;
	height: 0;
}

@media screen and (max-width: 36rem) {
	.asset__name {
		font-size: 1.125rem;
	}
}

