
.asset {
	background-color: var(--color-secondary);
	box-shadow: .125rem .25rem 1rem .125rem var(--color-quaternary);
	padding: 1.5rem;
	margin-bottom: 2rem;
}

.asset__name {
 margin-bottom: 1rem;
}
