.infoAsset {
	margin-bottom: 1rem;
}

.infoAsset__wrapper {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.infoAsset__expander {
	display: flex;
	align-items: center;
}

.infoAsset__expand, .infoAsset__collapse {
	&:hover {
		cursor: pointer;
	}
}

.infoAsset__imgWrapper {
	max-width: 6.25rem;
	height: auto;
}

.infoAsset__img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.infoAsset__informations {
	margin-left: 1.5rem;
}

.infoAsset__title {
	font-size: 1rem;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.infoAsset__subtitle {
	margin-bottom: 0.5rem;
	font-weight: 300;
	font-size: 0.875rem;
}

.infoAsset__period {
	font-weight: 200;
	font-size: 0.875rem;
}

.infoAsset__description {
	font-size: 0.875rem;
	font-weight: 200;
	margin-bottom: 1rem;
}

@media screen and (max-width: 36rem) {
	.infoAsset__wrapper {
		cursor: unset;
	}

	.infoAsset__imgWrapper {
		max-width: 5.625rem;
	}

	.infoAsset__informations {
		margin-left: 1rem;
	}

	.infoAsset__title {
		font-size: 0.875rem;
	}
	
	.infoAsset__subtitle, .infoAsset__period {
		font-size: .75rem;
	}
	
}