
.sidebar {
    background-color: var(--color-secondary);
    height: 100vh;
    max-width: 14.375rem;
    position: fixed;
    box-shadow: .125rem .25rem 1rem .125rem var(--color-quaternary);
}

.sidebar--show {
    left: 0;
}

.sidebar--hide {
    left: -100%;
}

.sidebar__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 13.9375rem;
    padding-top: 3.5rem;
}

.sidebar__item {
    height: 3.125rem;
    margin-bottom: .3125rem;
    display: flex;
    align-items: center;
    padding: 0 .9375rem;
    color: var(--color-white);
    font-family: var(--font-primary);
    text-decoration: none;

    &:hover, &:active, &:focus {
        background-color: var(--color-blue-100);
        cursor: pointer;
    }
}

.sidebar__path {
    margin-left: .625rem;
    display: inline;
}

.active {
    position: relative;
    background-color: var(--color-blue-100);

    &:before {
        content: '';
        width: .25rem;
        height: 50%;
        background-color: var(--color-white);
        position: absolute;
        left: 0;
    }
}

@media screen and (min-width: 48rem) {
    .sidebar--show, 
    .sidebar--hide {
        left: 0;
    }
}

@media screen and (max-width: 48rem) {
    .sidebar__path {
        display: none;
    }

    .sidebar__item { 
        justify-content: center;
    }

    .sidebar__list {
        min-width: 5rem;
    }
}
