@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --color-primary: #3E4048;
  --color-secondary: #292B33;
  --color-tertiary: #1b1d24;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: blue;


  /* fonts */
  --font-primary: 'Inconsolata', 'sans-serif';
}
