
.basic {
  background-color: var(--color-secondary);
  padding: 1.5rem;
  box-shadow: .125rem .25rem 1rem .125rem var(--color-quaternary);
  width: 100%;
}

.basic__title {
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
}

.basic__informations {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1rem;
  margin-bottom: 2.4rem;
  max-width: 50rem;
  overflow: hidden;
}

.basic__imageWrapper {
  max-width: 44.25rem;
  height: auto;
}

.basic__favoriteImage {
  width: 100%;
  height: 100%;
  border-radius: .3125rem;
}

@media screen and (max-width: 36rem) {
  .basic {
    max-height: 100%;
  }
}

